:root {
    --clr-primary: rgb(20, 20, 20);
    --clr-secondary: rgb(30, 30, 30);
    --clr-txt: rgb(230, 230, 230);
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100vh;
    min-height: 100vh;
}

body {
    background-color: var(--clr-primary);
    color: var(--clr-txt);

    display: flex;
    flex-direction: column;
}

/* body * {
    outline: 1px solid black;
} */

main {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
}

table,
select,
header,
footer,
caption,
.group {
    background-color: var(--clr-secondary);
}

header,
footer {
    text-align: center;
    padding: 0.5rem;
}

.left,
.right {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.left {
    flex: 0 1 25%;
    justify-content: center;
}

.group {
    font-size: large;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.25rem;
}

button {
    background-color: var(--clr-txt);
    color: var(--clr-primary);
    border: none;
    cursor: pointer;
    padding: 0.25rem 0.5rem;
}

button:hover {
    background-color: green;
}

select {
    color: var(--clr-txt);
    cursor: pointer;
}

option {
    margin: 0.25rem 0.5rem;
}

.right {
    flex: 1 1 auto;
}

ul {
    margin-left: 1rem;
}

.flex-row {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

table {
    border-collapse: collapse;
    flex: 1;
}

caption {
    text-align: center;
    padding: 0.5rem;
    font-size: larger;
    font-weight: bold;
}

tbody tr:nth-child(odd) {
    background-color: var(--clr-primary);
}

tr {
    display: grid;
    grid-template-columns: 2rem 15rem auto 2rem;
}

td,
th {
    border: 1px solid black;
    text-align: center;
    padding: 0.5rem;
}

.new-list-dialog,
.new-task-dialog {
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 1rem;
    background-color: var(--clr-secondary);
    color: var(--clr-txt);
    border: 10px solid var(--clr-txt);
}

.dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.dialog-content form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.field {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 0.25rem;
}

.ok {
    margin-top: 1rem;
    align-self: center;
    width: 50%;
}
