:root {
    --clr-primary: rgb(20, 20, 20);
    --clr-secondary: rgb(30, 30, 30);
    --clr-txt: rgb(230, 230, 230);
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100vh;
    min-height: 100vh;
}

body {
    background-color: var(--clr-primary);
    color: var(--clr-txt);

    display: flex;
    flex-direction: column;
}

/* body * {
    outline: 1px solid black;
} */

main {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
}

table,
select,
header,
footer,
caption,
.group {
    background-color: var(--clr-secondary);
}

header,
footer {
    text-align: center;
    padding: 0.5rem;
}

.left,
.right {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.left {
    flex: 0 1 25%;
    justify-content: center;
}

.group {
    font-size: large;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.25rem;
}

.group button {
    /* font-size: inherit; */
    background-color: var(--clr-txt);
    color: var(--clr-primary);
    border: none;
    cursor: pointer;
    padding: 0.25rem 0.5rem;
}

.group button:hover,
.group button:focus {
    background-color: green;
}

select {
    color: var(--clr-txt);
    cursor: pointer;
}

option {
    margin: 0.25rem 0.5rem;
}

.right {
    flex: 1 1 auto;
}

ul {
    margin-left: 1rem;
}

.new-list-dialog {
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 1rem;
    background-color: var(--clr-secondary);
    color: var(--clr-txt);
    border: 5px solid var(--clr-txt);
}

.dialog-content {
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 1rem;
}

.new-list-dialog form {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1rem;
}

.new-list-dialog button {
    display: block;
    grid-column: 1/-1;
}

table {
    border-collapse: collapse;
}

caption {
    text-align: center;
    padding: 0.5rem;
    font-size: larger;
    font-weight: bold;
}

tbody tr:nth-child(odd) {
    background-color: var(--clr-primary);
}

td,
th {
    border: 1px solid black;
    text-align: center;
    padding: 0.5rem;
}
