:root {
    --clr-primary: rgb(20, 20, 20);
    --clr-secondary: rgb(30, 30, 30);
    --clr-txt: rgb(230, 230, 230);
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100vh;
    min-height: 100vh;
}

body {
    background-color: var(--clr-primary);
    color: var(--clr-txt);

    display: flex;
    flex-direction: column;
}

/* body * {
    outline: 1px solid black;
} */

main {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
}

table,
select,
header,
footer,
caption,
.group {
    background-color: var(--clr-secondary);
}

caption {
    padding: 0.5rem;
    border-bottom: 1px solid black;
    font-size: larger;
    text-align: start;
}

header,
footer {
    text-align: center;
    padding: 0.5rem;
}

.left,
.right {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.left {
    flex: 0 1 25%;
    justify-content: center;
}

.group {
    font-size: large;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.25rem;
}

.group button {
    /* font-size: inherit; */
    background-color: var(--clr-txt);
    color: var(--clr-primary);
    border: none;
    cursor: pointer;
    padding: 0.25rem 0.5rem;
}

select {
    color: var(--clr-txt);
    cursor: pointer;
}

option {
    margin: 0.25rem 0.5rem;
}

.right {
    flex: 1 1 auto;
}

ul {
    margin-left: 1rem;
}